{% extends 'layout.html' %}

{% block body %}

<div class="center">

  <div>
    <p class="text-center text-color-high" id="word">Tai (ne) Alias</p>
  </div>

  <div class="text-center">

    <button style="display: none;" type="button" class="btn-square btn-good btn-disabled" id="good" onclick="trackScore(this.id)" disabled>✓</button>
    <button style="display: none;" type="button" class="btn-square btn-time" id="timer"></button>
    <button style=" display: none;" type="button" class="btn-square btn-bad btn-disabled" id="bad" onclick="trackScore(this.id)" disabled>✘</button>
    <button style="display:''" type="button" class="btn-start" id="start" onclick="startGame()">Pradėti</button>
  </div>
</div>

{% endblock %}